@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {
    background-color: rgb(105, 9, 68);
}

.heading {
    text-align: center;
    font-family: 'Caveat', cursive;
    color: aqua;
}

.picture {
        display: block;
        margin: 0 auto;
        border-radius: 10px
}

.tabel {
    color: white;
}
.koostisosad {
    margin: 1rem auto;
    color: white;
}

.valmistamine {
    color: white;
}


.footer {
    color: white;
}
